@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  @include center();
  flex-direction: column;

  & > h1 {
    margin: 20px 0;
    color: #c95858;
  }
}

.boxes {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  position: relative;
  width: 1600px;
  height: max-content;
  flex-direction: row;
  margin: 20px 0;
}