$gap: 20px;

@mixin flex-container {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  margin: $gap;

  & > div, & .options {
    @include flex-container();
    gap: $gap;
  }

  justify-content: space-between;
}

.title {
  font-size: 2rem;
}

.btn {
  padding: 5px;
  min-width: 80px;
}
