$gap: 20px;

@mixin flex-container {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  margin: $gap;

  & > div, & .options {
    @include flex-container();
    gap: $gap;
  }

  justify-content: space-between;
}

.title {
  font-size: 2rem;
  color: #974b4b;
  text-decoration: none;
  font-weight: bold;
}

.btn {
  padding: 10px;
  min-width: 80px;
  border-radius: 10px;
  border: none;
  background: #c95858;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  &-x {
    padding: 18px;
    font-size: 20px;
  }
}
